:root {
    --whiteColor: #fff;
    --purpleColor: #8B5CF6;
    --grayColor: #eeeeee;
}


.navBar{
    background-color: var(--grayColor);
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

header h2 {
    font-weight: 600;
}

.totalItems{
    width: 30px;
    height: 30px;
    padding: auto 7px;
    background: var(--purpleColor);
    border-radius: 50%;
    text-align: center;
    color: var(--whiteColor);
}